mixin info-features(img, title, desc)
    .features-wrap__feature
        img(src="./assets/icon-"+img+".svg")
        span=title
        p=desc
mixin articles(img, autor, title, desc)
    .article
        img(src="./assets/image-"+img+".jpg", alt="Article image")
        .info-wrapper
            span.info-wrapper__autor=autor
            span.info-wrapper__title=title
            p.info-wrapper__description=desc