mixin info-features(img, title, desc)
    .info__feature
        img(src="./assets/icon-"+img+".svg")
        span=title
        p=desc
mixin articles(img, autor, title, desc)
    .article-wrapper
        img(src="./assets/image-"+img+".jpg", alt="Article image")
        .article
            span.article__autor=autor
            span.article__title=title
            p.article__description=desc
